.logo {
  margin-bottom: 90px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 32px 43px 0 rgba(79, 166, 175, 0.2);
  border-radius: 25px;
  max-width: 920px;
  padding: 32px;
  width: 100%;
}

.card-left {
  margin-right: 48px;
}

.card-right {
  background-color: var(--dark-cyan);
  border-radius: 15px;
  max-width: 415px;
  padding: 40px;
  width: 100%;
}

.card-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-price-container:first-child {
  margin-bottom: 25px;
}

.card-price-title {
  color: #fff;
  font-weight: bold;
}

.card-price-subtitle {
  font-weight: bold;
  color: var(--gray);
}

.card-price-value {
  font-weight: bold;
  color: var(--bright-cyan);
}

.btn-reset {
  margin-top: 120px;
  width: 100%;
}
