.logo {
  margin-bottom: 90px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 32px 43px 0 rgba(79, 166, 175, 0.2);
  border-radius: 25px;
  max-width: 920px;
  padding: 32px;
  width: 100%;
}

.card-left {
  margin-right: 48px;
}

.card-right {
  background-color: var(--dark-cyan);
  border-radius: 15px;
  padding: 40px;
}
